.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;
    text-align:center;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color:sienna;
    text-align:center;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: beige;
    text-align:center;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blanchedalmond;
    text-align:center;
}

.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:coral;
    text-align:center;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color:violet;
    text-align:center;
}
